$color1 : pink;
$color2 : green;
$font1:14px/2;
// 1 在scss文件名字前加一个下划线会使该文件变成scss私有文件，不会
// 自动生成css文件，该文件可以被引入

// 2 Viriables为变量的意思 在项目比较大的时候可以创建一个额外的
// scss文件来储存这些变量 在通过@import来引入 注意前有下划线的
// 文件引入时可以不加下滑线